*.a
*.annot
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.cmxs
*.install
*.o

_build/

*.byte
*.native

.merlin

*.install

_esy
_export/
_release/
node_modules/
npm-debug.log
yarn-error.log

_opam/

scratch/

.vscode/
